doctype html
html
  head
    title GOSTcoin blockchain explorer
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    div.header
      h1
        a(href='/')
          img(src='/images/gostcoin-b.png')
          span GOSTcoin blockchain explorer
      div
        form(action="/search/", method="POST")
          input(type="text", name="search" placeholder="Search by transaction id, block hash or address", size="68")
          input(type="submit", value=">>")
    div.content
      block content
