* {
  outline-color: #bf5c5f;
}

body {
  font: 16px monospace;
  text-align: center;
}

.page {
  display: inline-block;
  text-align: left;
}

table td {
  padding-right: .5em;
}

a {
  color: #a7393d;
}

a:hover {
    color: #bf5c5f;
}

.header {
  overflow: hidden;
}

.header h1 a {
  color: black;
  text-decoration: none;
  align: center;
  outline: none;
}

.header h1 a:hover {
    border-bottom: 3px solid;
    border-bottom-color: #CF7F7F;
}

.header .logo {
  float: left;
}

.header .logo a img:hover {
  filter: brightness(1.25);
}

.header .logo a img {
  height: 77px;
  position: relative;
  margin-right: 1em;
}

.search-wrapper {
  margin-top: 1em;
}

form.search input[type="submit"] {
  padding: .2em .7em;
}

@-moz-document url-prefix() {
  form.search input[type="submit"] {
    padding: .15em .7em;
  }
}

form.search input[type="text"] {
  padding: .2em;
}

.content {
  margin-top: 2em;
}

.capitalize {
  text-transform: capitalize;
}
